*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --main-blue: rgba(30, 11, 127, 1);
    --main-red: rgba(239, 35, 46, 1);
    --main-white: rgba(251, 245, 243, 1);
    --main-green: rgba(23, 190, 187, 1);
    --main-yellow: rgba(255, 184, 0, 1);
  

    --name: 'Righteous', cursive;
    --para: 'Patrick Hand', cursive;
    --subheadline: 'Arvo', serif; 
    --headline: 'Mitr', sans-serif;
  }
  
body{
    background-color: var(--main-green);
}

  h1{
      text-align: center;
      font-size: 6rem;
      color: var(--main-white);
      padding-top: 30vh;
  }