*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --main-blue: rgba(30, 11, 127, 1);
    --main-red: rgba(239, 35, 46, 1);
    --main-white: rgba(251, 245, 243, 1);
    --main-green: rgba(23, 190, 187, 1);
    --main-yellow: rgba(255, 184, 0, 1);
  

    --name: 'Righteous', cursive;
    --para: 'Patrick Hand', cursive;
    --subheadline: 'Arvo', serif; 
    --headline: 'Mitr', sans-serif;
  }
  
  
  a{
    text-decoration: none;
  }
  
  li{
    list-style: none;
  }

  .back-bar{
      background-color: black;
      height: 5vh;
      width: 100vw;
      padding: 1vh 0;
      position: fixed;
  }

  .back-bar a{
      color: white;
      font-size: 1.5rem;
      padding-left: 2vw;
  }

  .main{

      padding-top:8vh ;
      padding-right: 2vw;
      padding-left:2vw ;
      display: flex;
      flex-direction: column;
      
  }

  .main >div{
      padding: 4vh 0 ;
  }

  .section >div{
    padding: 2vh 0 ;
  }

  .intro-section{
      display: flex;
      flex-direction: row;
  }


  .headline{
      color: black;
      font-family: var(--headline);
      font-weight: 200;
      font-size: 3rem;
  }

  .icon-headline
  {
      color: var(--main-red);
  }


  .subheadline{
      color:black;
      font-family: var(--subheadline);
      font-weight: bold;
      font-size: 2.5rem;
      text-align: center;
  }


  .name{
      color: black;
      font-family: var(--name);
      font-weight: bold;
      font-size: 1.5rem;
      padding-top: 5vh;
      padding-bottom: 3vh;
  }

  
  .name-para{
    color: grey;
    font-family: var(--para);
    font-size: 1.5rem;  
    text-align: justify;
}

.potrait{
  padding-left: 10vw ;
  padding-top: 10vh ;
}

.potrait img{
  height: 40vh;
  width: 40vw;
}

  .intro{
    width: 40vw;
  }


  .about-section{
    display: flex;
    flex-direction: row;
  }


  .para{
    color: grey;
    font-family: var(--para);
    font-size: 1.5rem;  
    text-align: justify;
    font-weight: 100;
    padding: 1vh 2vw ;
}


.subheadline-icon{
  text-align: center;
  font-size: 8rem;
  color: var(--main-green);
}


.skills ul{
  display: flex;
  flex-direction: column;
  padding-left: 4vw;
}


.skills li{
  margin: 2vh 0;
  list-style-type: disc;
}

.skill-headline{
  color:black;
  font-family: var(--subheadline);
  font-weight: bold;
  font-size: 2.5rem;
}

.skill-content{
  color:grey;
  font-family: var(--para);
  font-weight: bold;
  font-size: 1.5rem;
}

  @media only screen and (max-width: 756px) {
    
    .intro-section{
        flex-direction: column;
    }
    
    .intro{
        width: auto;
    }

    .about-section{
      flex-direction: column;
    }

    .intro-section li{
      margin-bottom: 2rem;
    }
    
    .potrait{
      padding-top: 0;
      padding-left:0 ;
      text-align: center;
    }
    
    .potrait img{
      height: 30vh;
      width: 90vw;
      
    }

  }